<%- include("partials/heading.ejs") -%>

    <div class="welcome">
      <div class="welcome-heading">
        <h1>Welcome</h1>
      </div>
      <div class="welcome-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non orci sit amet nulla euismod vulputate.
          Proin nulla purus, lobortis eu tellus quis, ornare gravida ligula. Aenean vel accumsan nulla.
          In hac habitasse platea dictumst. Mauris accumsan, est ut viverra gravida, felis ante varius ipsum, ut rhoncus nulla purus et velit.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc luctus dapibus tellus, eu tristique enim varius sit amet.
        </p>
      </div>
      <button type="button" name="button" class="btn" style="background-color: #00ADB5; color: #fff">Read more</button>
    </div>
    <!-- articles -->
    <% articles.forEach(function(article){ %>
      <form action="/article/<%= article.id %>" method="post">
        <div class="article">
          <div class="article-title">
            <h1><%= article.title %></h1>
          </div>
          <div class="article-body">
            <p><%= article.content %></p>
          </div>
          <button type="submit" class="btn" style="background-color: #00ADB5; color: #fff">Read more</button>
        </div>
      </form>
    <% }); %>

<%- include("partials/footer.ejs") -%>
