<%- include("partials/heading") %>

    <div class="welcome">
      <div class="welcome-heading">
        <h1>Welcome</h1>
      </div>
      <div class="welcome-body">
        <h3>
          Hello there! I'm Ericson Castasus and this is my blog site.<br>
          Here, I will post informative articles about web development and programming
          including my experiences while working on it.
        </h3>
      </div>
    </div>
    <!-- articles -->
    <div class="article">
      <% articles.forEach(function(article){ %>
        <form action="/article/<%= article.id %>" method="post">
          <div class="headline">
            <div class="article-title">
              <h1><%= article.title %></h1>
            </div>
            <div class="article-body">
              <p><%= article.content %></p>
            </div>
            <button type="submit" class="btn" style="background-color: #00ADB5; color: #fff">Read more</button>
          </div>
        </form>
      <% }); %>
    </div>

<%- include("partials/footer") %>
